__pycache__/
.ipynb_checkpoints/
processed
outputs
outputs_v2
checkpoints
checkpoints_v2
trash
examples*
.env
build
*.egg-info/
*.zip


/resources/Untitled.mp3
/output_test_v2
/model_cache
/exp_dir
/.cog

/speaker_test_fail
/speaker_test
*.wav